body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.photo-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url('https://i.ibb.co/QmNyBHC/photo-2024-05-04-15-11-19.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.searchcontain {
    caret-color: transparent;
    text-align: center;
    position: fixed;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 490px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    text-align: left;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
}

.film-container {
    text-align: center;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    height: 70%;
    max-height: 650px;
}

.film {
    margin: 10px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    width: calc(50% - 20px);
    box-sizing: border-box;
    vertical-align: top;
}

.banner {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
